<section class=" bg-image"
  style="background-image: url('https://images.pexels.com/photos/167636/pexels-photo-167636.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Registro</h2>

              <form>

                <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example1cg">Nombre de usuario</label>
                  <input type="text" id="form3Example1cg" class="form-control form-control-lg" />
                </div>

                
                <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example4cg">Contraseña</label>
                    <input type="password" id="form3Example4cg" class="form-control form-control-lg" />
                </div>
                
                <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example4cdg">Confirma contraseña</label>
                    <input type="password" id="form3Example4cdg" class="form-control form-control-lg" />
                </div>
                
                <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example3cg">Email</label>
                  <input type="email" id="form3Example3cg" class="form-control form-control-lg" />
                </div>

                <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example3cg">Estado civil </label>
                    <select name="" id="">
                        <option value="">Soltero/a</option>
                        <option value="">Casado/a</option>
                        <option value="">Divorciado/a</option>
                        <option value="">Viudo/a</option>
                    </select>
                </div>

                <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example4cdg">Genero</label>
                    <div>
                        <input type="radio">
                        <label for=""> Hombre</label>
                    </div>
                    <div>
                        <input type="radio">
                        <label for=""> Mujer</label>
                    </div>
                    <div>
                        <input type="radio">
                        <label for=""> Otro</label>
                    </div>
                    <div>
                        <input type="radio">
                        <label for=""> Prefiero no decirlo</label>
                    </div>
                </div>

                <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example4cdg">Confirma contraseña</label>
                  <input type="password" id="form3Example4cdg" class="form-control form-control-lg" />
                </div>

                <div class="form-check d-flex justify-content-center mb-5">
                  <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3cg" />
                  <label class="form-check-label" for="form2Example3g">
                    Acepto todas las declaraciones en <a href="#!" class="text-body"><u>Términos de servicio</u></a>
                  </label>
                </div>

                <div class="d-flex justify-content-center">
                  <button type="button"
                    class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Registrarte</button>
                </div>

                <p class="text-center text-muted mt-5 mb-0">¿Ya tienes cuenta? <a href="#!"
                    class="fw-bold text-body"><u>Inicia sesión</u></a></p>

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>