<section class=" bg-image"
  style="background-image: url('https://images.pexels.com/photos/167636/pexels-photo-167636.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Registro</h2>

              <form [formGroup]="formRegister" (ngSubmit)="submit()" novalidate>

                <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example1cg">Nombre de usuario</label>
                  <input type="text" id="form3Example1cg" class="form-control form-control-lg" formControlName="username"/>
                  <div *ngIf="this.formRegister.get('username')?.errors?.['required'] && this.formRegister.get('username')?.touched"
                  class="text-danger">
                    Es necesario que indiques un nombre de usuario.
                  </div>
                  <div *ngIf="this.formRegister.get('username')?.errors?.['minlength'] && this.formRegister.get('username')?.touched"
                  class="text-danger">
                    Debe tener como mínimo 6 caracteres.
                  </div>
                  <div *ngIf="this.formRegister.get('username')?.errors?.['maxlength'] && this.formRegister.get('username')?.touched"
                  class="text-danger">
                    Debe tener como maximo 12 caracteres.
                  </div>
                  <div *ngIf="this.formRegister.get('username')?.errors?.['pattern'] && this.formRegister.get('username')?.touched"
                  class="text-danger">
                    Debe tener solo letras.
                  </div>
                </div>

                
                <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example4cg">Contraseña</label>
                    <input type="text" id="form3Example4cg" class="form-control form-control-lg" formControlName="password"/>
                    <div *ngIf="this.formRegister.get('password')?.errors?.['required'] && this.formRegister.get('password')?.touched"
                    class="text-danger">
                        Es necesario que indiques una contraseña.
                    </div>
                    <div *ngIf="this.formRegister.get('password')?.errors?.['minLength'] && this.formRegister.get('password')?.touched"
                    class="text-danger">
                        Debe tener como mínimo 8 numeros.
                    </div>
                    <div *ngIf="this.formRegister.get('password')?.errors?.['pattern'] && this.formRegister.get('password')?.touched"
                    class="text-danger">
                        Debe tener solo letras.
                      </div>
                </div>
                
                <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example4cdg">Confirma contraseña</label>
                    <input type="text" id="form3Example4cdg" class="form-control form-control-lg" formControlName="password_confirmation" appPasswordConfirmation [pass]="this.formRegister.value.password" />
                    <div *ngIf="this.formRegister.get('password_confirmation')?.errors?.['required'] && this.formRegister.get('password_confirmation')?.touched"
                    class="text-danger">
                        Es necesario que confirmes la contraseña.
                    </div>
                    <div *ngIf="this.formRegister.get('password_confirmation')?.errors?.['different_pass'] && this.formRegister.get('password_confirmation')?.touched"
                    class="text-danger">
                        Las contraseñas tiene que ser iguales.
                    </div>
                </div>
                
                <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example3cg">Email</label>
                    <input type="email" id="form3Example3cg" class="form-control form-control-lg" formControlName="email"/>
                    <div *ngIf="this.formRegister.get('email')?.errors?.['required'] && this.formRegister.get('email')?.touched"
                    class="text-danger">
                        Es necesario que indiques un email.
                    </div>
                    <div *ngIf="this.formRegister.get('email')?.errors?.['email'] && this.formRegister.get('email')?.touched"
                    class="text-danger">
                        No tiene formato de valido.
                    </div>
                </div>

                <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example3cg">Estado civil</label>
                    <select name="" id="" formControlName="civil_status">
                        <option value="{{i}}" *ngFor="let s of civil_status; let i=index" [ngValue]="s">
                            {{s}}
                        </option>
                    </select>
                    <div *ngIf="this.formRegister.get('civil_status')?.errors?.['required'] && this.formRegister.get('civil_status')?.touched"
                    class="text-danger">
                        Es necesario que indiques tu estado civil.
                    </div>
                </div>

                <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example4cdg" formControlName="gender">Genero</label>                 
                    <div *ngFor="let g of gender" >
                        <label for="gender_answer_{{g.name}}">
                        <input type="radio" name="gender" formControlName="gender" value="{{g.name}}"
                          [value]="g.name">
                         {{g.name}}
                        </label>
                    </div>
                </div>
                
                <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example4cdg">Informacion de interés</label>
                    <div *ngFor="let i of information" >
                        <label for="info_answer_{{i}}">
                        <input type="checkbox" name="information" formControlName="gender" value="{{i}}"
                          [value]="i">
                         {{i}}
                        </label>
                    </div>
                </div>

                <div class="form-check d-flex justify-content-center mb-5">
                  <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3cg" formControlName="accept_conditions"/>
                  <label class="form-check-label" for="form2Example3g">
                    Acepto todas las declaraciones en <a href="#!" class="text-body"><u>Términos de servicio</u></a>
                  </label>
                  <div *ngIf="this.formRegister.get('accept_conditions')?.errors?.['required'] && this.formRegister.get('accept_conditions')?.touched"
                    class="text-danger">
                        Tienes que hacer las condiciones para continuar.
                    </div>
                </div>

                <div class="d-flex justify-content-center">
                  <button type="submit" [disabled]="formRegister.invalid"
                    class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Registrarte</button>
                </div>
                <!-- <div *ngIf="this.existing_user">
                    Nombre de usuario existente
                </div> -->

                <p class="text-center text-muted mt-5 mb-0">¿Ya tienes cuenta? <a href="#!"
                    class="fw-bold text-body"><u>Inicia sesión</u></a></p>

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>