<div class="row">
  <!-- filter -->
  <h5>Buscar por filtro</h5>
  <div class="d-flex">
    <p>Price</p>
    <input type="range" min="0" max="200" [(ngModel)]="filterByPrice" (ngModelChange)="filterEvents()">
    <p>{{filterByPrice | currency:'EUR'}}</p>
  </div>
  <div>
    <div class="input-group mb-3">
      <label class="input-group-text" for="inputGroupSelect01">Localidad</label>
      <select class="form-select" id="inputGroupSelect01"  [(ngModel)]="selected_location" (ngModelChange)="filterEvents()">
        <option selected>Choose...</option>
        <option value={{city}} *ngFor="let city of locations">{{city}}</option>
      </select>
    </div>
  </div>
  <div class="">
    <div class="d-flex" role="search">
      <input class="form-control me-2" [(ngModel)]="filterByName" 
      type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" (click)="filterEvents()"
      type="submit">Search</button>
    </div>
    <p>coincidecias: <span> {{filtered_events.length}}</span></p>
  </div>
  <div *ngIf="filtered_events.length === 0">
    <p>No hay coincidencias</p>
  </div>

<div class="col-auto" *ngFor="let event of filtered_events | paginate:{itemsPerPage:events_per_page, currentPage:current_page}">
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/img/{{event._name}}.jpg"
         class="card-img-top" alt="..." >
        <div class="card-body">
            <h5 class="card-title">{{event._name}}</h5>
            <p class="card-text">{{event._date | date:'dd/MM/yyyy'}}</p>
            <p class="card-text">{{event._type}} ~ <span>{{event._locate}}</span></p>
            <span class="mx-2">
              <button type="button" class="btn btn-primary text-center ">{{event._price|currency:'EUR'}}</button>
              <button type="button" *ngIf=" user_role =='admin' " class="btn btn-danger text-center mx-2">
                Delete
              </button>
              <button type="button" *ngIf=" user_role =='admin' " class="btn btn-danger text-center mx-2">
                Modify
              </button>
            </span>
        </div>
    </div>
  </div>
  <div>
    <pagination-controls class="mt-3 fw-bold text-center text-dark" (pageChange)="current_page = $event"></pagination-controls>
  </div>
<!-- <div class="col-auto mb-3">
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/img/elmagopop.jpg" class="card-img-top" alt="elmagopop">
        <div class="card-body">
          <h5 class="card-title">El mago Pop ~ teatro</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">34,00 €</a>
        </div>
    </div>
</div>  
<div class="col-auto mb-3">
    <div class="card" style="width: 18rem;">
      <img src="../../../assets/img/avatar.jpeg" class="card-img-top" alt="avatar">
      <div class="card-body">
        <h5 class="card-title">Avatar ~ cine</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">8,90 €</a>
      </div>
    </div>
</div>    
<div class="col-auto mb-3">
    <div class="card" style="width: 18rem;">
      <img src="../../../assets/img/Campnou.jpg" class="card-img-top" alt="Campnou">
      <div class="card-body">
        <h5 class="card-title">Camp nou ~ deportivo</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">169,00 €</a>
      </div>
    </div>
</div>    
<div class="col-auto mb-3">
    <div class="card" style="width: 18rem;">
      <img src="../../../assets/img/maroon-5.jpeg" class="card-img-top" alt="maroon 5">
      <div class="card-body">
        <h5 class="card-title">Maroon 5 ~ concierto</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">66,00 €</a>
      </div>
    </div>
</div>    
<div class="col-auto mb-3">
    <div class="card" style="width: 18rem;">
      <img src="../../../assets/img/elreyleon.jpeg" class="card-img-top" alt="elreyleon">
      <div class="card-body">
        <h5 class="card-title">El rey leon ~ musical</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">48,45 €</a>
      </div>
    </div>
</div>    
<div class="col-auto mb-3">
    <div class="card" style="width: 18rem;">
      <img src="../../../assets/img/hablandohuevadas.jpeg" class="card-img-top" alt="hablandohuevadas">
      <div class="card-body">
        <h5 class="card-title">Hablando huevadas ~ humor</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">16,80 €</a>
      </div>
    </div>
</div>       -->
      
</div>